<!--The content below is only a placeholder and can be replaced.-->
<div class="page">
    <div class="wrapper">
        <div class="row">
            <h1>Spinner Demo</h1>
        </div>
        <div class="row">
            <div class="col">
                <label>Type</label>
            </div>
            <div class="col">
                <select [(ngModel)]="loaderType">
                    <option value="custom">Custom</option>
                    <option value="ripple">Ripple</option>
                    <option value="bounce">Bounce</option>
                    <option value="twister">Twister</option>
                    <option value="roller">Roller</option>
                    <option value="ellipsis">Ellipsis</option>
                    <option value="dual-ring">Dual ring</option>
                    <option value="wave">Wave</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Background Color</label>
            </div>
            <div class="col">
                <input type="text" placeholder="Background color" [(ngModel)]="bgColor" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Color</label>
            </div>
            <div class="col">
                <input type="text" placeholder="Color" [(ngModel)]="color" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Loading Text</label>
            </div>
            <div class="col">
                <input type="text" placeholder="Color" [(ngModel)]="loadingText" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label>Custom HTML</label>
            </div>
            <div class="col">
                <textarea [(ngModel)]="customContent" readonly></textarea>
            </div>
        </div>

        <button (click)="show()" class="btn">SHOW</button>
    </div>
</div>

<ab-spinner [type]="loaderType" [backgroundColor]="bgColor" [color]="color" [loadingText]="loadingText">
    <p class="spinner" *ngIf="loaderType == 'custom'"><span>hello world!!!</span></p>
</ab-spinner>